* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	background-color: #333;
}

.box {
	padding: 80px 140px;
	border-radius: 15px;
	background-color: #222;
	box-shadow: 0 0 15px rgba(0, 140, 255, 0.6);
}

.link {
	position: relative;
	padding: 10px 20px;
	font-size: 40px;
	color: rgba(0, 140, 255);
	text-decoration: none;
}

.link:hover {
	cursor: none;
}

.link,
.link::after,
.link::before {
	transition: 0.3s;
}

.one::after {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #fff;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform 0.3s;
}

.one:hover::after {
	transform: scaleX(1);
	transform-origin: left;
}

.two::before,
.two::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	visibility: hidden;
}

.two::before {
	top: -2px;
	left: -8px;
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
}

.two::after {
	bottom: -2px;
	right: -8px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}

.two:hover::after,
.two:hover::before {
	width: 50px;
	height: 50px;
	visibility: visible;
}

.three::before,
.three::after {
	content: '';
	position: absolute;
	width: 0;
	bottom: 0;
	border-bottom: 2px solid rgb(255, 255, 255);
}

.three::before {
	right: 50%;
}

.three::after {
	left: 50%;
}

.three:hover::after,
.three:hover::before {
	width: 50%;
}

.four {
	z-index: 0;
}

.four::before,
.four::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background-color: #fff;
	z-index: -1;
}

.four:hover {
	color: #000000;
}

.four:hover::after {
	height: 100%;
}

.five {
	z-index: 0;
}

.five:hover {
	animation: blink 0.5s;
}

.five::before,
.five::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #fff;
	z-index: -1;
}

.five::before {
	left: 0;
}

.five::after {
	right: 0;
}

.five:hover::before,
.five:hover::after {
	animation: background 0.5s 0.4s forwards;
}

@keyframes background {
	from {
		width: 0;
	}
	to {
		width: 50%;
	}
}

@keyframes blink {
	0% {
		opacity: 1;
	}

	10% {
		opacity: 0;
	}
	20% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	60% {
		opacity: 0;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
